<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChallengeStackOverflow-Fixture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ChallengeStackOverflow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9680A2F1C81B27200BFFEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9680A481C81B27300BFFEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9680A531C81B27300BFFEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F7E83D1C82180000B690CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
